.App {
  text-align: center;
  background-color: skyblue;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  font-family: monospace;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.App_container {

  background-color: skyblue;
  text-align: center;
  font-family: monospace;

}